body{
    background-color: grey;
    border-radius: 100px;
    margin: 15px;
}
.titulo{
    height: 100px;
    width: 100%;
    background-color: rgb(113, 231, 152);
    color: rgb(0, 0, 0);
    text-align:center;
    border-radius: 5px;
}
.menu{
    height: none;
    width: auto;
    background-color: rgb(212, 238, 95);
    color: rgb(0, 0, 0);
    text-align:center;
    border-radius: 5px;
    
}
.cuerpo{
    height: 85%;
    width: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align:center;
    border-radius: 5px;
    
}
.imagen1{
    width: 50%;
    height: 50%;
    background-color: blue ;
    float: left;
    color: white;
}
.imagen2{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 0, 0) ;
    float: right;
    color: white;
}
.imagen3{
    background-color: blueviolet;
    width: 100%;
    height: 44.4%;
    display: grid;
    color: white;
    
    
    


}